version: "3"
name: "7_security"

services:
  mariadb:
    image: "docker.io/mariadb:latest"
    restart: "unless-stopped"
    environment:
      - "MARIADB_DATABASE=${DATABASE_DB}"
      - "MARIADB_ROOT_PASSWORD=${DATABASE_PASSWORD}"
    ports:
      - "3306:${DATABASE_PORT}"

  migration:
    depends_on:
      - "mariadb"
    restart: "no"
    environment:
      - "DATABASE_URL=mariadb://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOSTNAME}:${DATABASE_PORT}/${DATABASE_DB}"
    volumes:
      - "./migrations:/app/migrations"
    build:
      context: "."
      dockerfile: "./docker/Dockerfile.migration"

  backend:
    restart: "unless-stopped"
    env_file: ".env"
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    volumes:
      - "./src:/app/src"
    build:
      context: "."
      dockerfile: "./docker/Dockerfile.backend"


volumes:
  migrations:
