<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    class="h-dvh"
    data-theme="light"
>
    <head>
        <meta charset="UTF-8" />
        <link
            th:href="@{/favicon/favicon.svg}"
            rel="icon"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>[[#{app.title}]]</title>
        <!-- TODO: Use an actual package manager instead of downloaded CDN file -->
        <link
            th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet"
            type="text/css"
        />
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
    <body
        th:block
        layout:fragment="root"
        id="root"
        class="flex-1 flex-col"
    >
    </body>
</html>
