<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/Read}"
>
    <h2 layout:fragment="Title">Rating List</h2>
    <div layout:fragment="Table" class="row">
        <a href="/rating/create" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>MoodysRating</th>
                    <th>SandPRating</th>
                    <th>FitchRating</th>
                    <th>Order</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="rating : ${listItems}">
                    <td style="width: 10%" th:text="${rating.id}"></td>
                    <td th:text="${rating.moodysRating}"></td>
                    <td th:text="${rating.sandPRating}"></td>
                    <td th:text="${rating.fitchRating}"></td>
                    <td th:text="${rating.orderNumber}"></td>
                    <td style="width: 15%" class="text-center">
                        <a th:href="@{/rating/update/{id}(id=${rating.id})}"
                        >Update</a>
                        <form
                            th:action="@{/rating/{id}(id=${rating.id})}"
                            th:method="delete"
                            action="#"
                        >
                            <button class="btn btn-link">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</html>

</html>
