<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/Read}"
>
    <h2 layout:fragment="Title">Bid List</h2>
    <div layout:fragment="Table" class="row">
        <a href="/bidList/create" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Account</th>
                    <th>Type</th>
                    <th>Bid Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="bidList : ${listItems}">
                    <td style="width: 10%" th:text="${bidList.id}"></td>
                    <td th:text="${bidList.account}"></td>
                    <td th:text="${bidList.type}"></td>
                    <td th:text="${bidList.bidQuantity}"></td>
                    <td style="width: 15%" class="text-center">
                        <a th:href="@{/bidList/update/{id}(id=${bidList.id})}"
                        >Update</a>
                        <form
                            th:action="@{/bidList/{id}(id=${bidList.id})}"
                            th:method="delete"
                            action="#"
                        >
                            <button class="btn btn-link">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</html>

</html>
